.tags {
  margin: 10px;
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
}

.tag {
  color: white;
  padding-inline: 40px;
  padding-block: 10px;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
}
